/*// index.html - все блоки с user - по 2 в ряд. кнопки/ссылки находяться под информацией про user.*/
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgrey;
}

.block {
    width: 40%;
    background: darkseagreen;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
}

.info__block {
    display: flex;
    font-size: 30px;
}

.block button{
    width: 50%;
    height: 20%;
    border-radius: 5px;
}