/*MEDIA FOR SCREEN WIDTH : 320PX */


@media screen and (max-width: 500px) {

    .margin__left {
        margin: 0 0 0 15px;
    }

    .margin__right {
        margin: 0 15px 0 0;
    }

    .margin {
        margin: 0 15px;
    }

    .margin__top {
        margin: 20px 0;
    }

    .header__top {
        height: 35px;
        width: 100%;
    }

    .header__middle {
        padding: 0;
        margin: 0 15px;
    }

    .logo {
        margin-top: 20px;
        width: 135px;
        height: 50px;
    }

    .header__middle_number img {
        margin-top: 20px;
        width: 110px;
        height: 15px;
    }
    .header__middle_number{
        margin-left: 27px;
    }

    .whatsapp img {
        width: 135px;
        height: 20px;
        margin-left: 20px;
    }

    .btn, .header__bottom_button {
        width: 35px;
        height: 35px;
    }

    .form-control {
        width: 200px;
        height: 35px;
    }


    .best__prp_left {
        width: 290px;
        height: 200px;
    }


    .bg_top_dscp a {
        font-size: 10px;
        margin-top: -15px;
    }

    .dscp_insd h3 {
        margin-top: -17px;
        margin-bottom: 18px;
        font-size: 20px;
    }

    .dscp_insd p {
        margin-left: -75px;
        margin-top: 13px;
    }

    .bg_top_dscp img {
        width: 124px;
        height: 34px;
    }

    .best__prp_left {
        justify-content: space-around;
    }

    .best__prp_left > img {
        width: 68px;
        height: 12px;
    }

    .best__prp_left_right img {
        width: 130px;
        height: 110px;
    }

    .best__prp_right {
        column-gap: 20px;
    }

    .categories {
        column-gap: 10px;
    }

    .categories__item {
        width: 290px;
        height: 140px;
        padding: 15px;
    }

    .categories__item img {
        width: 74px;
        height: 97px;
    }

    .item_main {
        width: 120px;
        height: 96px;
    }

    .item_main button {
        width: 72px;
        height: 24px;
    }

    .item_main p {
        font-size: 10px;
    }

    .img img {
        margin: -22px 0 0 -20px;
        position: absolute;
    }

    .filters {
        column-gap: 15px;
    }

    .btn-first {
        width: 164px;
        height: 34px;
    }

    .btn-second {
        width: 82px;
        height: 36px;
    }

    .items__grid_block {
        width: 140px;
        height: 270px;

    }

    .none {
        display: none;
    }

    .block_cart img {
        max-width: 110px;
    }

    .mt-17 {
        margin-top: -17px;
    }

    .pos_ab {
        position: absolute;
        margin-top: -366px;
        margin-left: 156px;
    }

    .shadow__line2 {
        margin: 0 15px 0 15px;
        width: 295px;
    }

    .bg_top_dscp p, .item_main h3, .news {
        font-size: 16px;
    }

    .mailing_bg, .right__mailing p, .right__online p, .contact__info_address h3, .contact__info_contact h3, .dscp_insd p, .btn-first, .btn-second, .news__content_block a {
        font-size: 14px;
    }

    .dropdown-toggle, .footer__bottom, .last-button, .right__online a, .contact__info_address p, .contact_mail p, .contact_mail a, .navbar-brand, .items__grid_block p, .news__content_block p {
        font-size: 12px;
    }

    .footer {
        height: max-content;
    }

    .footer__left_block {
        padding-top: 45px;
    }

    .last-button {
        width: 110px;
    }

    .footer__bottom {
        padding: 0 0 15px 15px;
    }

    .contact__info {
        flex-direction: column;
    }
    .last{
        display: none;
    }
    .filters{
        justify-content: center;
    }



}


/*MEDIA FOR SCREEN WIDTH : 414PX */


@media screen and (min-width: 410px) and (max-width: 600px) {


    .form-control {

        width: 288px;
    }

    .best__prp_left {
        width: 385px;
    }

    .best__prp_left_right img {
        margin-left: 60px;
        margin-bottom: 34px;
        width: 147px;
        height: 125px;
    }

    .left_bg_top {
        margin: 15px;
    }

    .img img {
        width: 453px;
        margin: 150px 0 0 -20px;
    }

    .item_bottom {
        column-gap: 10px;
    }

    .item_bottom span {
        display: block !important;
    }

    .prp_right_item {
        min-width: 390px;
    }

    .items__grid_block {
        width: 184px;
    }

    .pos_ab {
        margin-left: 202px;
    }

    .shadow__line2 {
        width: 360px;
    }
    .categories__item {
        width: 380px;
        height: 153px;
        padding: 15px;
    }
    .item_main {
        width: 245px;
        height: 110px;
    }
    .item_main h3{
        font-size: 20px;
    }
    .item_main p {
        font-size: 15px;
        font-weight: 500;
    }
    .categories__item img {
        width: 98px;
        height: 122px;
    }
    .filters_btn_big{
        width: 120px;
    }
    .btn-first{
        font-size: 10px;
    }
    .filters{
        align-items: center;
        justify-content: center;
    }


}


/*MEDIA FOR SCREEN WIDTH : 768PX */


@media screen and (min-width: 601px) and (max-width: 900px) {

    .margin__left {
        margin: 0 0 0 20px;
    }

    .margin__right {
        margin: 0 20px 0 0;
    }

    .margin {
        margin: 0 20px;
    }

    .header__top {
        height: 37px;
    }

    .navbar-brand, .dropdown-toggle {
        font-size: 13px;
    }

    #navbarDropdownMenuLink3 {
        padding-left: 250px;
    }

    .header__middle {
        margin: 20px 20px;
    }

    .logo {
        width: 200px;
    }

    .header__bottom_button {
        width: 43px;
        height: 43px;
    }

    .header__bottom_search > .form-control {
        width: 290px;
    }

    .login_img {
        width: 90px;
    }

    .nskj_img {
        width: 105px;
    }

    .cart_img {
        width: 88px;
    }

    .shadow__line1 {
        margin-top: 15px;
    }

    .prp_left_bg {
        width: 479px;
        height: 314px;
        padding: 38px 38px 0 39px;
        margin-bottom: 81px;
    }

    .bg_top_dscp p {
        font-size: 26px;
    }

    .bg_top_dscp a {
        font-size: 16px;
    }

    .bg_top_dscp p {
        font-weight: 700;
        font-size: 19px;
    }

    .dscp_insd h3 {
        font-size: 30px;
    }

    .bg_top_dscp img {
        width: 152px;
        height: 46px;
    }

    .best__prp_left_right > img {
        width: 222px;
        height: 188px;
    }

    .dscp_insd {
        display: flex;
        flex-direction: column;
    }

    .best__prp_left > img {
        margin: -59px 0 20px 0;
    }

    .best__prp {
        column-gap: 15px;
    }

    .prp_right_item {
        width: 239px;
        height: 148px;
    }

    .categories__item {
        min-width: 292px;
        height: 150px;
        margin-right: 10px;
    }

    .item_main h3 {
        font-size: 18px;
        font-weight: 700;
    }

    .item_main p {
        font-size: 12px;
        font-weight: 700;
    }

    .item_main button {
        width: 76px;
        height: 23px;
    }

    .item_main ~ img {
        width: 100px;
        height: 125px;
    }

    .item_main {
        margin-left: 10px;
    }

    .items__grid_block {
        width: 232px;
        height: 363px;
    }

    .none {
        display: none;
    }

    .items__grid {
        justify-content: center;
    }

    .mt- {
        margin-top: -13px;
    }

    .shadow__line2 {
        width: 720px;
    }

    .filters_btn_big {
        width: 184px;
    }

    .news__content_block {
        width: 229px;
        row-gap: 8px !important;
    }

    .news__content_block a, p {
        font-size: 14px;
    }

    .right__mailing p, .right__online a, .right__online p, .contact__info_contact h3, .contact_mail p, .contact__info_address h3, .footer__left_block h3 {
        font-size: 16px;
    }

    .footer__left_block {
        min-width: 135px;
        margin-top: 20px;
    }

    .footer {
        height: 645px;
    }

    .contact__info {
        column-gap: 9.5rem !important;
    }

    .right__mailing {
        position: absolute;
        margin-left: 270px;
        margin-top: 115px;
    }

    .right__online {
        margin-top: 25px;
    }

     .mailing_bg{
        width: 435px!important;
    }

    .last-button {
        width: 180px;
    }

    .mailing_social {
        margin: 20px 160px 0 0;
    }

    .footer__right {
        margin-bottom: 140px;
    }
    .footer__bottom{
        padding: 0 0 0 20px;
    }



}


